<div class="uk-flex-center" uk-grid>
    <div class="uk-width-1-3@m">
        <p class="uk-text-center uk-margin-large-top uk-margin-small-bottom">

        </p>


        <app-loading *ngIf="busy"></app-loading>
        <div *ngIf="!busy" class="uk-card uk-card-primary uk-card-body uk-box-shadow-small">

            <h3 class="uk-card-title"> Restauração de Senha </h3>

            <form [formGroup]="form" class="uk-margin">
                <div class="uk-margin">
                    <input formControlName="document" type="text" class="uk-input uk-form-large" placeholder="CPF"
                        mask="###.###.###-##"
                        [ngClass]="{'uk-form-danger': (!form.controls.document.valid && !form.controls.document.pristine)}">

                </div>



                <div class="uk-margin uk-text-right">
                    <button (click)="submit()" class="uk-button uk-button-default" [disabled]="form.invalid"> Restaurar Senha</button>
                </div>
            </form>
        </div>


        <p class="uk-text-center" *ngIf="1busy">
            <a href="/login" class="uk-button uk-button-link"> Voltar </a>
        </p>
    </div>
</div>